<form (ngSubmit)="submit()" [formGroup]="form" class="mx-auto w-1/2 text-gray-100">
  <fieldset class="grid grid-cols-3 gap-6 p-6 rounded-md shadow-sm bg-gray-900">
    <div class="grid grid-cols-1 gap-4 col-span-full">
      <label class="text-sm" for="title">Title</label>
      <input [class.is-invalid]="isInvalid('title')"
             class="w-full rounded-md text-gray-900 bg-gray-100 h-10"
             formControlName="title"
             id="title" type="string">
    </div>
    <div class="col-span-full">
      <label class="text-sm" for="description">description</label>
      <textarea [class.is-invalid]="isInvalid('description')"
                class="w-full rounded-md  bg-gray-100 text-gray-900 h-40"
                formControlName="description"
                id="description" type="string"> </textarea>
    </div>
    <div class="col-span-full">
      <label for="image">image</label>
      <input (change)="onFileSelect($event)" [class.is-invalid]="isInvalid('image')" class="rounded rounded-md"
             formControlName="image"
             id="image" type="file">
    </div>
    <button [disabled]="form.invalid" class="w-1/2 px-1 py-2 rounded-md bg-gray-100 text-gray-900" type="submit">Add
    </button>
    <span class="ml-2">{{ status$ | async }}</span>
  </fieldset>
</form>

