<header class="p-4 bg-transparent text-gray-900">
  <div class="container flex justify-between h-16 mx-auto">
    <a class="flex items-center p-2" routerLink="">
     <p class="text-4xl" style="font-family: 'Sacramento', cursive">My Blog</p>
    </a>
    <ul class="items-stretch space-x-3 flex">
      <li class="flex">
        <a class="flex items-center px-4 -mb-1 border-b-2 border-transparent" routerLink="">Blog</a>
      </li>
      <li class="flex">
        <a class="flex items-center px-4 -mb-1 border-b-2 border-transparent" routerLink="">Youtube</a>
      </li>
      <li class="flex">
        <a class="flex items-center px-4 -mb-1 border-b-2 border-transparent" (click)="logIn()">logIn</a>
        <div *ngIf="user$ | async as user">
          {{user.name}}
          <button (click)="logOut()">logout</button>
        </div>
      </li>
    </ul>
  </div>
</header>
